PORT=9999

DB_HOST=localhost
DB_PORT=5432
DB_NAME=SEP490
DB_USER=postgres
DB_PASSWORD=root
DB_SSL=false

JWT_SECRET=MY_SECRET_KEY

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

